html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}
canvas {
  background: #efefef;  
}

#game * {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#game {
  width: 1024px;
  height: 320px;
  border: 1px solid black;
  box-shadow: 0 0 0 3px gray;
  position: relative;
  margin: auto; 
  overflow: hidden;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  color: white;
  padding: 5px;
  background: rgba(0,0,0,.8);
}


